.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  z-index: 100;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgb(255, 255, 255) 75%, rgba(255, 255, 255, 0.9) 80%, rgba(255, 255, 255, 0.25) 95%, rgba(255, 255, 255, 0) 100%);
}

.text {
  font-family: "Yanone Kaffeesatz", sans-serif;
  font-size: 60px;
  display: flex;
  position: absolute;
  top: 4vh;
  left: 50%;
  transform: translateX(-50%);
  user-select: none;
}
.text .wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
}
.text .wrapper .letter {
  transition: ease-out 1s;
  transform: translateY(40%);
}
.text .wrapper .shadow {
  transform: scale(1, -1);
  color: #a9a9a9;
  transition: ease-in 5s, ease-out 5s;
}
.text .wrapper:hover .letter {
  transform: translateY(-200%);
}
.text .wrapper:hover .shadow {
  opacity: 0;
  transform: translateY(200%);
}

body {
  background-color: rgb(255, 255, 255);
  margin-left: auto;
  margin-right: auto;
  margin-top: 250px;
  margin-bottom: 10px;
}

.player_name {
  font-family: "Yanone Kaffeesatz", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

h1 {
  font-family: "Yanone Kaffeesatz", sans-serif;
  color: rgb(0, 0, 0);
  text-align: center;
  top: 150px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.styled-table {
  background-image: url("wood.jpg");
  border-collapse: collapse;
  margin: 30px 0;
  font-size: 2em;
  font-family: sans-serif;
  min-width: 500px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  top: 200px;
  border-radius:10px;
}

.styled-table thead tr {
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 10px 20px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

button {
  margin: 10px;
}

.custom-btn {
  width: 60px;
  height: 30px;
  color: #000000;
  border-radius: 10px;
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.next {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  text-align: center;
  font-size: 20px
}

/* 6 */
.b1 {
  height: 40px;
  font-size: 20px;
  background: rgba(147, 147, 147, 0.2);
  background-image: url("wood.jpg");
  line-height: 20px;
  border: none;
}

.b1 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.b1:before,
.b1:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.b1:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.b1:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.b1:hover {
  background: rgba(119, 119, 119, 0.2);
  color: #909090;
  box-shadow: none;
}

.b1:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

.b1:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

.b1 span:before,
.b1 span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.b1 span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.b1 span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.b1 span:hover:before {
  width: 100%;
}

.b1 span:hover:after {
  width: 100%;
}

/* Goal Buttons */
.custom-btn1 {
  cursor: not-allowed;
  pointer-events: None;
  height: 100px;
  color: #9a9a9a;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  font-weight: 500;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  border-radius:10px;
}

.custom-btn1:disabled {
  background-color: rgba(0, 0, 0, 0.2);
}

.goal_button {
  cursor: not-allowed;
  font-size: 25px;
  height: 100px;
  background-color: rgb(0, 0, 0);
  background-image: url("wood.jpg");
  line-height: 20px;
  border: none;
}

.goal_button span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.goal_button:before,
.goal_button:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.goal_button:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

.goal_button:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

.goal_button span:before,
.goal_button span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

.goal_button span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

.goal_button span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

#popup {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 300px;
  text-align: center;
  background-image: url("wood.jpg");
  font-family: sans-serif;
  border-radius:10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
#popup h1 {
  padding-top: 20px;
  text-align: center
}
#popup h2 {
  padding-top: 20px;
  text-align: center;
  font-weight: 200
}

#popup button {
  background-image: url("wood.jpg");
  margin-top: 20px;
  color: #000000;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

#popup button, #popup h2 {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 20px;
}

#popup button:hover, #popup button:focus {
  background-color: #ddd;
  cursor: pointer;
}



#popup button:before,
#popup button:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

#popup button:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

#popup button:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

#popup button:hover {
  background: rgba(119, 119, 119, 0.2);
  color: #000000;
  box-shadow: none;
}

#popup button:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

#popup button:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

#popup button span:before,
#popup button span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

#popup button span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

#popup button span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

#popup button span:hover:before {
  width: 100%;
}

#popup button span:hover:after {
  width: 100%;
}

#popup2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 20px;
  display: none;
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 350px;
  text-align: center;
  background-image: url("wood.jpg");
  font-family: sans-serif;
  border-radius:10px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
#popup2 h1 {
  padding-top: 20px;
  text-align: center
}
#popup2 h2 {
  padding-top: 20px;
  text-align: center;
  font-weight: 200
}

#popup2 input {
  padding-top: 10px;
  padding-top: 10px;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 200;
  border-radius:10px
  
}
#popup2 select {
  font-family: "Lato", sans-serif;
  padding-top: 10px;
  padding-top: 10px;
  text-align: center;
  border-radius:10px;
  font-weight: 200
}

#popup2 button {
  background-image: url("wood.jpg");
  margin-top: 20px;
  color: #000000;
  border-radius: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

#popup2 button, #popup2 h2 {
  font-size: 20px;
  font-family: sans-serif;
  padding: 10px 20px;
}

#popup2 button:hover, #popup2 button:focus {
  background-color: #ddd;
  cursor: pointer;
}



#popup2 button:before,
#popup2 button:after {
  position: absolute;
  content: "";
  height: 0%;
  width: 1px;
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

#popup2 button:before {
  right: 0;
  top: 0;
  transition: all 500ms ease;
}

#popup2 button:after {
  left: 0;
  bottom: 0;
  transition: all 500ms ease;
}

#popup2 button:hover {
  background: rgba(119, 119, 119, 0.2);
  color: #000000;
  box-shadow: none;
}

#popup2 button:hover:before {
  transition: all 500ms ease;
  height: 100%;
}

#popup2 button:hover:after {
  transition: all 500ms ease;
  height: 100%;
}

#popup2 button span:before,
#popup2 button span:after {
  position: absolute;
  content: "";
  box-shadow: -1px -1px 20px 0px rgb(255, 255, 255), -4px -4px 5px 0px rgb(255, 255, 255), 7px 7px 20px 0px rgba(0, 0, 0, 0.4), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
}

#popup2 button span:before {
  left: 0;
  top: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

#popup2 button span:after {
  right: 0;
  bottom: 0;
  width: 0%;
  height: 0.5px;
  transition: all 500ms ease;
}

#popup2 button span:hover:before {
  width: 100%;
}

#popup2 button span:hover:after {
  width: 100%;
}
